<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WeatherAPP</title>
  <link rel="stylesheet" type="text/css" href="/static/style.bundle.css" />
  <input id="data" value="{{ data }}" style="display: none"/>

</head>

<body>
  <div class="main">
    <div class="main__header">
      <div class="header__logo">weatherApp</div>
    </div>
    <div class="main__body">
      <div class="body__wrapper">
        <div class="body__wrapper--header">
          <div class="weather-info__city"></div>
          <div class="weather-info__date"></div>
        </div>
        <div class="body__wrapper--body">
          <div class="weather-info__today-data">
            <div class="today-data row">

              <div class="today-data__left col-xl-4 col-md-12">
                <div class="today-data__left--degree"></div>
                <div class="today-data__left--feels-like"></div>

              </div>

              <div class="today-data__right col-xl-8 col-md-12">
                <div class="tbody__right--upper">
                  <div class="today-data__header">
                    <div class="today-data-details">
                      <div class="today-data-details--rain"></div>
                      <div class="today-data-details--wind"><i class="fas fa-wind"></i>Wind</div>
                      <div class="today-data-details--humidity"><i class="fas fa-tint"></i>Humidity</div>
                      <div class="today-data-details--uv-index"><i class="fas fa-sort-amount-down"></i>UX index</div>
                    </div>
                  </div>
                  <div class="today-data__body">
                    <div class="today-data-details">
                      <div class="today-data-details--rain"></div>
                      <div class="today-data-details--wind"></div>
                      <div class="today-data-details--humidity"></div>
                      <div class="today-data-details--uv-index"></div>
                    </div>
                  </div>
                </div>
                <div class="tbody__right--bottom">
                  <div class="today-data__header">
                    <div class="today-data-details">
                      <div class="today-data-details--pressure"><i class="fas fa-compress"></i> Pressure</div>
                      <div class="today-data-details--wind-degree"><img class="icon"
                          src="./img/wind-deg-icon.png">Wind deg.</div>
                      <div class="today-data-details--sunrise"><img class="icon"
                          src="./img/sunrise-icon.png">Sunrise</div>
                      <div class="today-data-details--sunset"><img class="icon" src="./img/sunset-icon.png">Sunset
                      </div>
                    </div>
                  </div>
                  <div class="today-data__body">
                    <div class="today-data-details">
                      <div class="today-data-details--pressure"></div>
                      <div class="today-data-details--wind-degree"></div>
                      <div class="today-data-details--sunrise"></div>
                      <div class="today-data-details--sunset"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="weather-info__week-data row ">
            <div class="day-tile-group--arrow day-tile-group--left "><i class="fas fa-angle-left"></i></div>
            <div class="day-tile-group--list  row">
              <div class="day-tile ">
                <div class="day-tile--wrapper">
                  <div class="day-tile__header"></div>
                  <div class="day-tile__body">
                    <div class='day-tile__body--degree'></div>
                    <div class='day-tile__body--icon'></div>
                  </div>
                  <div class="day-tile__footer"></div>
                </div>
              </div>
              <div class="day-tile ">
                <div class="day-tile--wrapper">
                  <div class="day-tile__header"></div>
                  <div class="day-tile__body">
                    <div class='day-tile__body--degree'></div>
                    <div class='day-tile__body--icon'></div>
                  </div>
                  <div class="day-tile__footer"></div>
                </div>
              </div>
              <div class="day-tile ">
                <div class="day-tile--wrapper">
                  <div class="day-tile__header"></div>
                  <div class="day-tile__body">
                    <div class='day-tile__body--degree'></div>
                    <div class='day-tile__body--icon'></div>
                  </div>
                  <div class="day-tile__footer"></div>
                </div>
              </div>
              <div class="day-tile ">
                <div class="day-tile--wrapper">
                  <div class="day-tile__header"></div>
                  <div class="day-tile__body">
                    <div class='day-tile__body--degree'></div>
                    <div class='day-tile__body--icon'></div>
                  </div>
                  <div class="day-tile__footer"></div>
                </div>
              </div>
            </div>
            <div class="day-tile-group--arrow day-tile-group--right "><i class="fas fa-angle-right"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="main__footer">
      <div class="button-settings"><i class="fas fa-cog" data-function="button-settings"></i></div>
    </div>
  </div>
  <script src="/static/main.bundle.js"></script>

  <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>
  <script type="text/javascript"
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</body>

</html>