#change-city-popover {

    .popover-header {

    }
    .popover-body {
        padding: 10px 30px;

        &__footer {
            display: flex;
            justify-content: space-between;
        }
    
    }
}

.popover .popover-header, .popover  .popover-body {
    background: #f8f8f8;
}